#news .max-w-prose {
  max-width: 50rem !important;
  width: 100% !important;
  font-size: 1.1rem !important;
}

#bio .prose {
  font-size: 1.1rem;
}

#edu .prose p{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;;
}